# C source and header files
*.c text eol=lf
*.h text eol=lf

# Project-specific config files
*.cub text eol=lf

# Makefile
Makefile text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.o binary
*.a binary
*.so binary
*.exe binary
*.zip binary

